@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --primary-color: #71717A;
    --off-white: #F3F4F6;
    --purple: #4F46E5;
    --light:  #e5d4f8
    ;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0rem;
}

hr{
    margin: 2rem,0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    margin:auto;
    max-width: 800px;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link:hover {color: #1F2937;}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--purple);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}
/** look in BEM naming convention for CSS **/

/* lists */
.list-no-bullets{
    list-style:none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
}

.navigation {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-left-radius:1rem ;
}

.navigation .brand-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

nav li a{
    color: white;
    font-weight: 600;
    
}


.navigation .link-active {
    font-weight: 700;
    color: #E0E7FF;
    font-size: 1.2rem;
}

/* header */
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--purple);
}

.hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section{
    padding:2rem;
}

.section h3{
    text-align: center;
}

.offc{
    background-color: var(--light);
}

.para{
    font-size: 1.0rem;
    font-weight: 550;
}
.bolder{
    font-weight: 600;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
    font-weight: 600;
}
.footer .footer-header {
    font-weight: 600;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}

/* projects */
.showcase-list {
    padding: 2rem;
}

/* blogs */
.showcase-blog {
    padding-bottom: 6rem;
}